[submodule "node_modules"]
	path = node_modules
	url = https://github.com/Spielmeister/node_modules.git
[submodule "modules/node"]
	path = modules/node
	url = https://github.com/Spielmeister/node.git
